# Global
## Set the domain to create nginx for argocd and other service ingress
domain: "cluster.pyrovelocity.net"
## Set local if you wish to start the local path provisioner for "local-path" in your cluster 
storage:
  local:
    enable: true
# Application specific
githubactionsrunner:
  enable: false
  token: ""
cats:
  storageClass: "local-path"
observability:
  storageClass: "local-path"
  pdkey:
  storageSize: 10Gi
  retention: 5d
trivy:
  enable: false
logging:
  enable: true
metallb:
# This only passes through to the bootstrap resources a single address pool, 
# you can use a range if you you want to do something more complex
  addresspool: 192.168.88.70/24
